
select#size {
    width: 180px;
}
  input#soluong {
    width: 180px;
}
.card .card-body {
  padding : 0;
}
.btn.btn-raised.btn-danger.mr-1 {
  margin-top: 65%;
}
form .form-actions{
  border-top: 0;
}