<div class="content-wrapper">
  <!-- Basic Carousel start -->
  <section id="basic-carousel">
    <div class="row">
      <div class="col-sm-12 mt-2">
        <div class="content-header">Thông tin chi tiết sản phẩm trong kho</div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="px-3">
              <form class="form">
                <div class="form-body">
                  <h4 class="form-section">
                    <i class="ft-user"></i>Kho hàng sản phẩm</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput1">Tên sản phẩm</label>:
                        <label>sản phẩm 1</label>
                        <br>
                        <br>
                        <label for="projectinput1">Mã sản phẩm</label>:
                        <label>Mã sản phẩm 1</label>
                        <br>
                        <br>
                        <label for="projectinput1">Đơn giá</label>:
                        <label> Đơn giá sản phẩm 1</label>
                        <br>
                        <br>
                        <label for="projectinput1">Chiết khấu</label>:
                        <label>Mã sản phẩm 1</label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="px-3">

              <form class="form">
                <div class="form-body">
                  <h4 class="form-section">
                    <i class="ft-info"></i> Số lượng sản phẩm</h4>
                  <div class="row">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput5">Chọn size</label>
                      <select id="size" name="interested" class="form-control">
                        <option value="none" selected="" disabled=""></option>
                        <option value="design">39</option>
                        <option value="development">40</option>
                        <option value="illustration">41</option>
                        <option value="branding">42</option>
                        <option value="video">43</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput4">Số lượng</label>
                      <input type="text" id="soluong" class="form-control" name="phone">
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-raised btn-danger mr-1">+</button>
                  </div>
                </div>
                <table id="table_sp" class="table table-responsive-md-md text-center">
                  <thead>
                    <tr>
                      <!-- <th></th> -->
                      <th>STT</th>
                      <th>Kích thước</th>
                      <th>Số lượng</th>
                      <th>Chức năng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let size of listSize;let i = index">
                      <td style="vertical-align: middle">{{ index + 1 }}</td>
                      <td style="vertical-align: middle">{{ size.tenKichThuoc }}</td>
                      <td style="vertical-align: middle">{{ size.soLuong }}</td>
                      <td style="vertical-align: middle">
                        <a class="danger p-0" data-original-title="" title="Xóa" id="confirm-cancel">
                          <i (click)="delSize(size.id)" class="ft-x font-medium-3 mr-2"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="form-actions right">
                  <button type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="button" class="btn btn-raised btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </section>

</div>