.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    
  }

  .example-container.ng-star-inserted {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    padding-bottom: 50px;
}

.button-row {
    text-align: center;
    margin: 20px 0;
}

button.mat-raised-button.btnLogin {
    width: 100%;
}

small {
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #9b9b9b;
}
small:hover{
  color: #3f51b5;
}
section.example-section {
  margin-top: 20px;
}

form.regis {
  width: 60%;
  margin-left: 20%;
  padding: 20px 0;
}