<div class="catagories-side-menu2">
    <!-- Close Icon -->
    <div id="sideMenuClose" (click)="hideMenu()">
      <i class="ti-close"></i>
    </div>
    <!--  Side Nav  -->
    <div class="nav-side-menu">
      <div class="menu-list">
        <h6>Categories</h6>
        <ul id="menu-content" class="menu-content collapse out">
          <li class="home-menu"> <span class="icons"><i class="fa fa-chevron-right"></i></span> Giày Traning</li>
          <li class="home-menu"><span class="icons"><i class="fa fa-chevron-right"></i></span>Giày Runninng</li>
          <li class="home-menu"><span class="icons"><i class="fa fa-chevron-right"></i></span>Giày Hiking</li>
        </ul>
      </div>
    </div>
  </div>
  
<!-- ****** Header Area Start ****** -->
<header class="header_area">
  <!-- Top Header Area Start -->
  <div class="top_header_area">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-end">

        <div class="col-12 col-lg-7">
          <div class="top_single_area d-flex align-items-center">
            <!-- Logo Area -->
            <div class="top_logo">
              <a href="#">
                <img src="../assets/images/core-img/logo.png" alt="">
              </a>
            </div>
            <!-- Cart & Menu Area -->
            <div class="header-cart-menu d-flex align-items-center ml-auto">
              <!-- Cart Area -->
              <div class="cart">
                <a id="header-cart-btn" target="_blank">
                  <span class="cart_quantity">2</span>
                  <i class="ti-bag"></i> Giỏ Hàng $20</a>
                <!-- Cart List Area Start -->
                <ul class="cart-list">
                  <li>
                    <a href="#" class="image">
                      <img src="../assets/images/product-img/product-10.jpg" class="cart-thumb" alt="">
                    </a>
                    <div class="cart-item-desc">
                      <h6>
                        <a href="#">Giày Luyện Tập</a>
                      </h6>
                      <p>1x -
                        <span class="price">$200</span>
                      </p>
                    </div>
                    <span class="dropdown-product-remove">
                      <i class="icon-cross"></i>
                    </span>
                  </li>
                  <li>
                    <a href="#" class="image">
                      <img src="../assets/images/product-img/product-11.jpg" class="cart-thumb" alt="">
                    </a>
                    <div class="cart-item-desc">
                      <h6>
                        <a href="#">Giày Chạy Bộ</a>
                      </h6>
                      <p>1x -
                        <span class="price">$300</span>
                      </p>
                    </div>
                    <span class="dropdown-product-remove">
                      <i class="icon-cross"></i>
                    </span>
                  </li>
                  <li class="total">
                    <span class="pull-right">Tổng: $20.00</span>
                    <a href="cart.html" class="btn btn-sm btn-cart">Cart</a>
                    <a href="checkout-1.html" class="btn btn-sm btn-checkout">Thanh Toán</a>
                  </li>
                </ul>
              </div>

              <div class="header-right-side-menu ml-15" (click)="showLeftBar()">
                <a id="sideMenuBtn">
                  <i class="ti-menu" aria-hidden="true"></i>
                </a>
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Top Header Area End -->
  <div class="main_header_area">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 d-md-flex justify-content-between">
          <!-- Header Social Area -->
          <div class="header-social-area">
            <a href="#">
              <span class="karl-level">New</span>
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
          <!-- Menu Area -->
          <div class="main-menu-area">
            <nav class="navbar navbar-expand-lg align-items-start">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                  <i class="ti-menu"></i>
                </span>
              </button>

              <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                <ul class="navbar-nav animated" id="nav">
                  <li class="nav-item active">
                    <a class="nav-link" routerLink="/home">Trang Chủ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/products">Sản Phẩm</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/cart">Giỏ Hàng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/checkout">Thanh Toán</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Chi Tiết</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Liên Hệ</a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">Pages</a>
                    <div class="dropdown-menu" aria-labelledby="karlDropdown">
                      <a class="dropdown-item" routerLink="/home">Trang Chủ</a>
                      <a class="dropdown-item" routerLink="/products">Sản Phẩm</a>
                      <a class="dropdown-item" routerLink="/detailID">Chi Tiết</a>
                      <a class="dropdown-item" routerLink="/cart">Giỏ Hàng</a>
                      <a class="dropdown-item" routerLink="/checkout">Thanh Toán</a>
                    </div>
                  </li> -->
                </ul>
              </div>
            </nav>
          </div>
          <!-- Help Line -->
          <div class="help-line">
            <a href="tel:+346573556778">
              <i class="ti-headphone-alt"></i> +84 090 3556 778</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ****** Header Area End ****** -->

<!-- ****** Top Discount Area Start ****** -->
<section class="top-discount-area d-md-flex align-items-center">
  <!-- Single Discount Area -->
  <div class="single-discount-area">
    <h5>Miễn Phí Ship &amp; Đổi Trả</h5>
    <h6>
      <a href="#">MUA NGAY</a>
    </h6>
  </div>
  <!-- Single Discount Area -->
  <div class="single-discount-area">
    <h5>Giảm 20% giày tập luyện</h5>
    <h6>Mã giảm giá: pt12201</h6>
  </div>
  <!-- Single Discount Area -->
  <div class="single-discount-area">
    <h5>Giảm 20% cho học sinh</h5>
    <h6>Mã giảm giá: stu001</h6>
  </div>
</section>
<!-- ****** Top Discount Area End ****** -->
