<div class="container">
  <div class="row">
    <div class="col-md-12 text-center info">
      <h1 class="title">CỬA HÀNG GIÀY KARL SHOP</h1>
      <div class="add">
        <strong class="address">Địa chỉ:
          <span> 279 Hai Bà Trưng, Phường 8, Quận 3, Hồ Chí Minh.</span>
        </strong>
        <br>
        <em class="address-detail">(Hẻm đối diện ngã 3 Đường 3 Tháng 2 và Nguyễn Lâm Q10, Kế bên ngân hàng HDbank chi nhánh 3/2)</em>
      </div>

      <div class="hotline">
        <strong class="phone">Điện thoại:
          <span> +84 090 3556 778</span>
        </strong>
        <br>
        <strong class="support">Hỗ trợ trực tuyến gmail:
          <span>webgiaydep@gmail.com</span>
        </strong>
      </div>

      <div class="acc">
        <p class="account">Chủ tài khoản : Phạm Xuân Khoa</p>
        <p class="account">Tài Khoản Ngân Hàng Vietcombank: 0421003824245</p>
      </div>

    </div>
    <div class="col-md-12 map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3030165600253!2d106.68944511480082!3d10.788087992313589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x59471dc3e7077d72!2zQWRpZGFzIEhhaSBCw6AgVHLGsG5n!5e0!3m2!1svi!2s!4v1532878257746"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
