<div class="content-wrapper">
  <!--Invoice template starts-->
  <div class="row">
    <div class="col-md-12">
      <h4>Chi Tiết Hóa Đơn</h4>
    </div>
  </div>
  <section class="invoice-template">
    <div class="card">
      <div class="card-body p-3">
        <div id="invoice-template" class="card-block">
          <!-- Invoice Company Details -->
          <div id="invoice-company-details" class="row">
            <div class="col-6 text-left">
              <img src="../assets/app-assets/img/logos/logo-big-black.png" alt="company logo" class="mb-2" width="70">
              <ul class="px-0 list-unstyled">
                <li class="text-bold-800">Công Ty TNHH 2 Thành Viên</li>
                <li>4128 Lê Văn Sỹ,Phường 8,Quận Phú Nhuận,TP.HCM</li>
              </ul>
            </div>
            <div class="col-6 text-right">
              <h2>THÔNG TIN HÓA ĐƠN</h2>
              <p>
                <span class="text-muted">Mã Hóa Đơn:{{chitiet_HD.id}}</span>
              <p>
              <!-- <p class="pb-3">Mã Hóa Đơn:</p> -->
              <ul class="px-0 list-unstyled">
                <li>Tổng Tiền Thanh Toán: </li>
                <li class="lead text-bold-800">{{chitiet_HD.tongTien}}</li>
              </ul>
            </div>
          </div>
          <!-- Invoice Company Details -->
          <!-- Invoice Customer Details -->
          <div id="invoice-customer-details" class="row pt-2">
            <div class="col-sm-12 text-left">
              <p class="text-muted">Thông tin Khách hàng:</p>
            </div>
            <div class="col-6 text-left">
              <ul class="px-0 list-unstyled">
                <li class="text-bold-800">{{chitiet_HD.nhanVien[1].tenNhanvien}}</li>
                <li>địa chỉ</li>
              </ul>
            </div>
            <div class="col-6 text-right">
              <p>
                <span class="text-muted">Trạng Thái :</span> {{chitiet_HD.trangThai}}</p>
              <p>
                <span class="text-muted">Ngày :</span>{{chitiet_HD.ngay}}</p>
            </div>
          </div>
          <!--/ Invoice Customer Details -->
          <!-- Invoice Items Details -->
          <div id="invoice-items-details" class="pt-2">
            <div class="row">
              <div class="table-responsive col-sm-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Mã sản phẩm</th>
                      <th>Tên sản phẩm</th>
                      <th class="text-right">Chiết khấu</th>
                      <th class="text-right">Số Lượng</th>
                      <th class="text-right">Đơn giá</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>  
                      <th scope="row">{{chitiet_HD.chiTietHoaDon[0].id}}</th>
                      <td>
                          {{chitiet_HD.tenSanPham}}
                        <!-- <p>Create PSD for mobile APP</p>
                        <p class="text-muted">Simply dummy text of the printing and typesetting industry.</p> -->
                      </td>
                      <td class="text-right">$ 20.00/hr</td>
                      <td class="text-right">120</td>
                      <td class="text-right">$ 2400.00</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>
                        <p>iOS Application Development</p>
                        <p class="text-muted">Pellentesque maximus feugiat lorem at cursus.</p>
                      </td>
                      <td class="text-right">$ 25.00/hr</td>
                      <td class="text-right">260</td>
                      <td class="text-right">$ 6500.00</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>
                        <p>WordPress Template Development</p>
                        <p class="text-muted">Vestibulum euismod est eu elit convallis.</p>
                      </td>
                      <td class="text-right">$ 20.00/hr</td>
                      <td class="text-right">300</td>
                      <td class="text-right">$ 6000.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-sm-12 text-left">
                <!-- <p class="lead">Phương thức thanh toán:</p> -->
                <div class="row">
                  <div class="col-12">
                    <!-- <table class="table table-borderless table-sm">
                      <tbody>
                        <tr>
                          <td>Tên ngân hàng:</td>
                          <td class="text-right">ABC Bank, USA</td>
                        </tr>
                        <tr>
                          <td>Tên Khách hàng:</td>
                          <td class="text-right">Amanda Orton</td>
                        </tr>
                         <tr>
                          <td>Ngày:</td>
                          <td class="text-right">FGS165461646546AA</td>
                        </tr> \
                        <tr>
                          <td>Nội dung:</td>
                          <td class="text-right">BTNPP34</td>
                        </tr>
                      </tbody>
                    </table> -->
                  </div>
                </div>
              </div> 
              <div class="col-md-6 col-sm-12">
                <p class="lead">Hóa đơn thanh toán</p>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Tổng tiền sản phẩm</td>
                        <td class="text-right">$ 14,900.00</td>
                      </tr>
                      <tr>
                        <td>Chiết khấu (12%)</td>
                        <td class="text-right">$ 1,788.00</td>
                      </tr>
                      <tr>
                        <td class="text-bold-800">Tổng tiền thanh toán</td>
                        <td class="text-bold-800 text-right"> $ 16,688.00</td>
                      </tr>
                      <!-- <tr>
                        <td>Payment Made</td>
                        <td class="pink text-right">(-) $ 4,688.00</td>
                      </tr>
                      <tr class="bg-grey bg-lighten-4">
                        <td class="text-bold-800">Balance Due</td>
                        <td class="text-bold-800 text-right">$ 12,000.00</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
                <div class="text-center">
                  <p>Kí Tên</p>
                  <img src="../assets/app-assets/img/pages/signature-scan.png" alt="signature" class="width-250">
                  <h6>Amanda Orton</h6>
                  <p class="text-muted">Managing Director</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Invoice Footer -->
          <div id="invoice-footer">
            <div class="row">
              <div class="col-md-9 col-sm-12">
                <h6>Lưu ý:</h6>
                <p>You know, being a test pilot isn't always the healthiest business in the world. We predict too much for the
                  next year and yet far too little for the next 10.</p>
              </div>
              <div class="col-md-3 col-sm-12 text-center">
                <button type="button" class="btn btn-primary btn-raised my-1">
                  <i class="fa fa-paper-plane-o"></i> Gửi hóa đơn</button>
              </div>
            </div>
          </div>
          <!--/ Invoice Footer -->
        </div>
      </div>
    </div>
  </section>
  <!--Invoice template ends-->
</div>