footer.footer_area {
    background: #b8b8b8;
}
.copywrite_text p {
    color: #ff084e;
}
.fa-facebook-f{
    color: #4267B2;
}

.fa-pinterest-p{
    color: #BD081C;
}
.fa-twitter{
    color: #1B95E0;
}
.fa-linkedin-in{
    color: #0077B5;
}