<div class="content-wrapper">
    <!--Extended Table starts-->
    <div class="row">
        <div class="col-12">
            <div class="content-header">THÔNG TIN HÓA ĐƠN</div>
        </div>
    </div>
    <section id="extended">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Hóa Đơn</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <table id="table_sp" class="table table-responsive-md-md text-center">
                                <thead>
                                    <tr>
                                        <th>No.ID</th>
                                        <th>Tên khách hàng</th>
                                        <th>Tên nhân viên</th>
                                        <th>Ngày</th>
                                        <th>Trạng Thái</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let hd of list_hd">
                                        <td>{{hd.id}}</td>
                                        <td>{{hd.tenKhachHang}}</td>
                                        <td>{{hd.tenNhanVien}}</td>
                                        <td>{{hd.ngay}}</td>
                                        <td>
                                            <button type="button" class="btn btn-raised btn-warning btn-min-width mr-1 mb-1">Cancel</button>
                                            <button type="button" class="btn btn-raised btn-danger btn-min-width mr-1 mb-1">In_progress</button>
                                            <button type="button" class="btn btn-raised btn-success btn-min-width mr-1 mb-1">Done</button>
                                        </td>
                                        <td>
                                            <a class="info p-0" data-original-title="" title="">
                                                <i class="ft-user font-medium-3 mr-2"></i>
                                            </a>
                                            <a class="success p-0" data-original-title="" title="">
                                                <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                            </a>
                                            <a class="danger p-0" data-original-title="" title="">
                                                <i class="ft-x font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Extended Table Ends-->
</div>