<div class="content-wrapper">
    <!--Extended Table starts-->
    <div class="row">
        <div class="col-12">
            <div class="content-header">THÔNG TIN HÓA ĐƠN</div>
        </div>
    </div>
    <section id="extended">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Hóa Đơn</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <table id="table_hd" class="table table-responsive-md-md text-center">
                                <thead>
                                    <tr>
                                        <th>No.ID</th>
                                        <th>Tên khách hàng</th>
                                        <th>Tên nhân viên</th>
                                        <th>Ngày</th>
                                        <th>Trạng Thái</th>
                                        <th>Tổng Tiền</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let hd of list_hd">
                                        <td>{{hd.id}}</td>
                                        <td>{{hd.tenKhachHang}}</td>
                                        <td>{{hd.tenNhanVien}}</td>
                                        <td>{{hd.ngay}}</td>
                                        <td>
                                            <a *ngIf ="hd.trangThai === 'Đang chờ'"  class="btn white btn-round btn-info" style="width:130px">{{hd.trangThai}}</a>
                                            <a *ngIf ="hd.trangThai === 'Hủy đơn hàng'" class="btn white btn-round btn-danger" style="width:130px">{{hd.trangThai}}</a>
                                            <a *ngIf ="hd.trangThai === 'Hoàn thành'"  class="btn white btn-round btn-success" style="width:130px">{{hd.trangThai}}</a>
                                        </td>
                                        <td>{{hd.tongTien | currency}}VND</td>
                                        <td>
                                            <a class="info p-0" data-original-title="" title="Chi tiết">
                                                <i class="ft-list font-medium-3 mr-2"></i>
                                            </a>
                                            <a class="success p-0" data-original-title="" title="Cập nhật">
                                                <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                            </a>
                                            <!-- <a class="danger p-0" data-original-title="" title="">
                                                <i class="ft-x font-medium-3 mr-2"></i>
                                            </a> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Extended Table Ends-->
</div>