<div class="content-wrapper">
    <!--Extended Table starts-->
    <div class="row">
        <div class="col-12">
            <div class="content-header">THÔNG TIN SẢN PHẨM</div>
        </div>
    </div>
    <section id="extended">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <button id="addRow" class="btn btn-primary mb-2" [routerLink]="['/index/themsanpham']">
                                <i class="ft-plus-circle"></i>&nbsp; Thêm mới</button>
                            <table id="table_sp" class="table table-striped table-bordered sourced-data dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr>
                                        <th>Mã Sản Phẩm</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Loại Giày</th>
                                        <th>Hình ảnh</th>
                                        <th>Kích thước</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sp of list_sp">
                                        <td>{{sp.id}}</td>
                                        <td>{{sp.tenSanPham}}</td>
                                        <td>{{sp.loaiGiay.tenLoai}}</td>
                                        <td>
                                            <img *ngIf="sp.hinhSanPham.length !=0 " src="{{sp.hinhSanPham[0].hinh}}" width="100">
                                        </td>
                                        <td>
                                            <span *ngFor="let size of sp.hangTrongKho">
                                                {{size.kichThuoc.tenKichThuoc}}
                                                <span> </span>
                                            </span>
                                        </td>
                                        <td routerLinkActive="active">
                                            <a class="info p-0" data-original-title="" title="Chi tiết" routerLink="/index/sanpham/{{sp.id}}">
                                                <i class="ft-list font-medium-3 mr-2"></i>
                                            </a>
                                            
                                            <!-- <a class="danger p-0" *ngIf="role == 'ROLE_ADMIN'" (click)="showModal()" data-original-title="" title="Xóa" id="confirm-cancel">
                                                <i class="ft-x font-medium-3 mr-2"></i>
                                            </a> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Modal -->
    <div class="modal-wrapper" (click)="removeModal()"></div>

    <div class="modal1">
        <div class="modal-header">
            <label class="modal-title text-text-bold-600 title">Confirm</label>
            <!-- <h3 class="modal-title">Confirm</h3> -->
            <button (click)="removeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">Are you sure you want to delete?</div>
        <div class="modal-footer">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-raised btn-success but1">
                    <i class=""></i> OK
                </button>
                <button type="submit" (click)="removeModal()" class="btn btn-raised btn-warning but1">
                    <i class=""></i> Cancel
                </button>
            </div>
        </div>
    </div>
    <!-- MODAL -->
</div>