<div class="content-wrapper">
    <!--Extended Table starts-->
    <div class="row">
        <div class="col-12">
            <div class="content-header">THÔNG TIN SẢN PHẨM</div>
        </div>
    </div>
    <section id="extended">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                              <div class="mb-3"> 
                              <a  class="btn btn-raised gradient-pomegranate white"[routerLink]= "['/chitiet-sp']">
                                          Thêm sản phẩm 
                                      </a> 
                                  </div>
                            <table id="table_sp" class="table table-responsive-md-md text-center">
                                <thead>
                                    <tr>
                                        <th>Mã Sản Phẩm</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Loại Giày</th>
                                        <th>Hình ảnh</th>
                                        <th>Kích thước</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let sp of list_sp" >
                                        <td>{{sp.id}}</td>
                                        <td style="vertical-align: middle">{{sp.tenSanPham}}</td>
                                        <td style="vertical-align: middle">{{sp.loaiGiay.tenLoai}}</td>
                                        <td style="vertical-align: middle"><img src="{{sp.hinhSanPham[0].hinh}}" width="100"></td>
                                        <td style="vertical-align: middle">
                                            <span *ngFor="let size of sp.hangTrongKho">
                                                {{size.kichThuoc.tenKichThuoc}}
                                                <span>  </span></span>
                                            </td>
                                        <td style="vertical-align: middle" routerLinkActive="active">
                                            <a class="info p-0" data-original-title="" title="Chi tiết" 
                                          routerLink="/sanpham/{{sp.id}}">
                                                <i class="ft-list font-medium-3 mr-2"></i>
                                            </a>
                                            <!-- <a class="info p-0" data-original-title="" title="Thêm mới" [routerLink]= "['/chitiet-sp']">
                                                <i class="ft-plus-square"></i>
                                            </a> -->
                                            <a class="danger p-0" data-original-title="" title="Xóa" id="confirm-cancel">
                                                <i class="ft-x font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>