<div class="shop_grid_area section_padding_100">
  <div class="container">
    <div class="row">

      <div class="shop_sidebar_area">
        <div class="widget catagory mb-50">
          <div class="nav-side-menu">
            <h6 class="mb-0">Danh mục</h6>
            <div class="menu-list">
              <ul id="menu-content2" class="menu-content collapse out">
                <li data-toggle="collapse" data-target="#women2">
                  <a>Giày Nữ</a>
                  <ul class="sub-menu collapse show" id="women2">
                    <li *ngFor="let name of _tenGiay">
                      <a (click)="goCate(name)">{{name}}</a>
                    </li>
                  </ul>
                </li>
                <li data-toggle="collapse" data-target="#man2" class="collapsed">
                  <a>Giày Nam</a>
                  <ul class="sub-menu collapse show" id="man2">
                    <li *ngFor="let name of _tenGiay">
                      <a (click)="goCate(name)">{{name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="widget price mb-50">
          <h6 class="widget-title mb-30">Lọc theo giá</h6>
          <div class="widget-desc">
            <div class="slider-range">
              <div data-min="0" data-max="3000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                data-value-min="0" data-value-max="1350" data-label-result="Price:">
                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
              </div>
              <div class="range-price">Giá: 0 - 1350</div>
            </div>
          </div>
        </div>

        <!-- <div class="widget color mb-70">
          <h6 class="widget-title mb-30">Lọc theo màu sắc</h6>
          <div class="widget-desc">
            <ul class="d-flex justify-content-between">
              <li class="gray">
                <a href="#">
                  <span>(3)</span>
                </a>
              </li>
              <li class="red">
                <a href="#">
                  <span>(25)</span>
                </a>
              </li>
              <li class="yellow">
                <a href="#">
                  <span>(112)</span>
                </a>
              </li>
              <li class="green">
                <a href="#">
                  <span>(72)</span>
                </a>
              </li>
              <li class="teal">
                <a href="#">
                  <span>(9)</span>
                </a>
              </li>
              <li class="cyan">
                <a href="#">
                  <span>(29)</span>
                </a>
              </li>
            </ul>
          </div>
        </div> -->

        <div class="widget size mb-50">
          <h6 class="widget-title mb-30">Lọc theo kích cỡ</h6>
          <div class="widget-desc">
            <ul class="d-flex justify-content-between">
              <li>
                <a href="#">XS</a>
              </li>
              <li>
                <a href="#">S</a>
              </li>
              <li>
                <a href="#">M</a>
              </li>
              <li>
                <a href="#">L</a>
              </li>
              <li>
                <a href="#">XL</a>
              </li>
              <li>
                <a href="#">XXL</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="widget recommended">
          <h6 class="widget-title mb-30">Khuyến khích</h6>

          <div class="widget-desc">

            <div *ngFor="let product of _recommendArray" class="single-recommended-product d-flex mb-30">
              <div class="single-recommended-thumb mr-3">
                <img src="{{product.hinh}}" alt="">
              </div>
              <div class="single-recommended-desc">
                <h6>{{product.tenSanPham}}</h6>
                <p>{{product.donGia | currency : 'VNĐ' : 'code' : '1.0'}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

