<div class="content-wrapper">
  <!-- <div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card gradient-blackberry">
        <div class="card-body">
          <div class="card-block pt-2 pb-0">
            <div class="media">
              <div class="media-body white text-left">
                <h3 class="font-large-1 mb-0">$2156</h3>
                <span>Total Tax</span>
              </div>
              <div class="media-right white text-right">
                <i class="icon-pie-chart font-large-1"></i>
              </div>
            </div>
          </div>
          <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card gradient-ibiza-sunset">
        <div class="card-body">
          <div class="card-block pt-2 pb-0">
            <div class="media">
              <div class="media-body white text-left">
                <h3 class="font-large-1 mb-0">$1567</h3>
                <span>Total Cost</span>
              </div>
              <div class="media-right white text-right">
                <i class="icon-bulb font-large-1"></i>
              </div>
            </div>
          </div>
          <div id="Widget-line-chart1" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
          </div>

        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card gradient-green-tea">
        <div class="card-body">
          <div class="card-block pt-2 pb-0">
            <div class="media">
              <div class="media-body white text-left">
                <h3 class="font-large-1 mb-0">$4566</h3>
                <span>Total Sales</span>
              </div>
              <div class="media-right white text-right">
                <i class="icon-graph font-large-1"></i>
              </div>
            </div>
          </div>
          <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card gradient-pomegranate">
        <div class="card-body">
          <div class="card-block pt-2 pb-0">
            <div class="media">
              <div class="media-body white text-left">
                <h3 class="font-large-1 mb-0">$8695</h3>
                <span>Total Earning</span>
              </div>
              <div class="media-right white text-right">
                <i class="icon-wallet font-large-1"></i>
              </div>
            </div>
          </div>
          <div id="Widget-line-chart3" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--Line with Area Chart 1 Starts-->
  <div class="chart-1">
    <div class="row btnDrop">
      <div class="select-months">
        <select class="custom-select" [(ngModel)]="monthSelected">
          <option value="0">Tháng</option>
          <option value="{{month}}" *ngFor="let month of _listMonths">Tháng {{month}}</option>
        </select>
      </div>
      <div class="select-year">
        <select class="custom-select" [(ngModel)]="yearSelected">
          <option value="0">Năm</option>
          <option value="{{year}}" *ngFor="let year of _listYears">{{year}}</option>
        </select>
      </div>
      <a class="btn btn-outline-success" (click)="findTop10()">OK</a>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <fusioncharts [id]="id1" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource1">
        </fusioncharts>
      </div>
    </div>

  </div>
  <!--Line with Area Chart 1 Ends-->

  <div class="match-height chart-2">
    <div class="row btnDrop">
      <div class="select-months">
        <select class="custom-select" [(ngModel)]="monthSelected2">
          <option value="0">Tháng</option>
          <option value="{{month}}" *ngFor="let month of _listMonths">Tháng {{month}}</option>
        </select>
      </div>
      <div class="select-year">
        <select class="custom-select" [(ngModel)]="yearSelected2">
          <option value="0">Năm</option>
          <option value="{{year}}" *ngFor="let year of _listYears">{{year}}</option>
        </select>
      </div>
      <a class="btn btn-outline-success" (click)="findLoaiGiayInMonth()">OK</a>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <fusioncharts [id]="id2" [width]="width" [height]="height" [type]="type2" [dataFormat]="dataFormat" [dataSource]="dataSource2">
        </fusioncharts>
      </div>
    </div>
  </div>

  <div class="match-height chart-3">
    <div class="row btnDrop">
      <div class="select-shoes">
        <select class="custom-select" [(ngModel)]="loaiGiaySelected3">
          <option value="none">Hãng</option>
          <option value="{{shoe.tenLoai}}" *ngFor="let shoe of _listGiay">{{shoe.tenLoai}}</option>
        </select>
      </div>
      <div class="select-year">
        <select class="custom-select" [(ngModel)]="yearSelected3">
          <option value="0">Năm</option>
          <option value="{{year}}" *ngFor="let year of _listYears">{{year}}</option>
        </select>
      </div>
      <a class="btn btn-outline-success" (click)="findLoaiGiayInYear()">OK</a>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <fusioncharts [id]="id3" [width]="width" [height]="height" [type]="type3" [dataFormat]="dataFormat" [dataSource]="dataSource3">
        </fusioncharts>
      </div>
    </div>
  </div>

  <div class="match-height chart-4">
    <div class="row btnDrop">
      <div class="select-year">
        <select class="custom-select" [(ngModel)]="yearSelected4">
          <option value="0">Năm</option>
          <option value="{{year}}" *ngFor="let year of _listYears">{{year}}</option>
        </select>
      </div>
      <a class="btn btn-outline-success" (click)="findAnnualReport()">OK</a>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <fusioncharts [id]="id4" [width]="width" [height]="height" [type]="type3" [dataFormat]="dataFormat" [dataSource]="dataSource4">
        </fusioncharts>
      </div>
    </div>
  </div>
</div>
