<mat-tab-group>

  <mat-tab label="Thông tin tài khoản" class="mattab">
    <div class="example-container">
      <form [formGroup]="profileForm" (ngSubmit)="updateProfile(profileForm.value)">
        <div class="email">
          <label class="lblName">Email</label>
          <mat-form-field>
            <input [readonly]="true" formControlName="email" matInput value="{{newCustomer.email}}">
          </mat-form-field>
        </div>

        <div class="name">
          <label class="lblName">Họ tên</label>
          <mat-form-field>
            <input matInput formControlName="tenKhachHang" [readonly]="true" value="{{newCustomer.tenKhachHang}}">
          </mat-form-field>
        </div>

        <div class="hotline">
          <label class="lblName">Số điện thoại</label>
          <mat-form-field>
            <input matInput formControlName="soDienThoai" value="{{newCustomer.soDienThoai}}">
          </mat-form-field>
        </div>

        <div class="address">
          <label class="lblName">Địa chỉ</label>
          <mat-form-field>
            <input matInput formControlName="diaChi" value="{{newCustomer.diaChi}}">
          </mat-form-field>
        </div>

        <div class="button-row">
          <button mat-raised-button color="primary" [disabled]="profileForm.invalid" type="submit" class="btnLogin">Cập nhật</button>
        </div>
      </form>

    </div>

  </mat-tab>


  <mat-tab label="Lịch sử thanh toán">

    <h1 style="color: red;">Lịch sử thanh toán của bạn đang trống</h1>

  </mat-tab>
</mat-tab-group>
