<div class="content-wrapper">
  <!-- Add rows table -->
  <section id="add-row">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Nhân Viên</h4>
          </div>
          <div class="card-body collapse show">
            <div class="card-block">
              <button id="addRow" class="btn btn-primary mb-2" routerLink="/nhanvien/0">
                <i class="ft-user-plus"></i>&nbsp; Thêm mới</button>
              <table id="table_nv" class="table table-responsive-md-md text-center">
                <thead>
                  <tr>
                    <th>Mã Nhân Viên</th>
                    <th>Tên Nhân Viên</th>
                    <th>Giới Tính</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Chức năng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let nv of list_nv">
                    <td>{{nv.id}}</td>
                    <td>{{nv.tenNhanVien}}</td>
                    <td>{{nv.gioiTinh}}</td>
                    <td>{{nv.soDienThoai}}</td>
                    <td>{{nv.email}}</td>
                    <td>{{nv.diaChi}}</td>
                    <td>
                      <a class="success p-0" data-original-title="" title="Cập nhật" routerLink="/nhanvien/{{nv.id}}">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>
                      <a class="danger p-0" data-original-title="" (click)="showModal()"  title="Xóa">
                          <!-- (click)="DelNhanvien(nv.id)" -->
                        <i class="ft-user-x"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Add rows table -->
    <div class="modal1">
        <div class="swal2-container swal2-fade swal2-in" style="overflow-y: auto;">
            <div class="swal2-modal swal2-show" style="display: block; width: 500px; padding: 20px; background: rgb(212, 212, 212); min-height: 372px;"
              tabindex="-1">
              <ul class="swal2-progresssteps" style="display: none;"></ul>
              <div class="swal2-icon swal2-error" style="display: none;">
                <span class="x-mark">
                  <span class="line left"></span>
                  <span class="line right"></span>
                </span>
              </div>
              <div class="swal2-icon swal2-question" style="display: none;">?</div>
              <div class="swal2-icon swal2-warning pulse-warning" style="display: block;">!</div>
              <div class="swal2-icon swal2-info" style="display: none;">i</div>
              <div class="swal2-icon swal2-success" style="display: none;">
                <span class="line tip"></span>
                <span class="line long"></span>
                <div class="placeholder"></div>
                <div class="fix"></div>
              </div>
              <img class="swal2-image" style="display: none;" src="../../../assets/app-assets/img/icons/thumbs-up.jpg">
              <h2>Are you sure?</h2>
              <div class="swal2-content" style="display: block;">You won't be able to revert this!</div>
              <input class="swal2-input" style="display: none;">
              <input type="file" class="swal2-file" style="display: none;">
              <div class="swal2-range" style="display: none;">
                <output></output>
                <input type="range">
              </div>
              <select class="swal2-select" style="display: none;"></select>
              <div class="swal2-radio" style="display: none;"></div>
              <label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
                <input type="checkbox">
              </label>
              <textarea class="swal2-textarea" style="display: none;"></textarea>
              <div class="swal2-validationerror" style="display: none;"></div>
              <hr class="swal2-spacer" style="display: block;">
              <button type="button" class="swal2-confirm btn btn-success btn-raised mr-5" style="">Yes, delete it!</button>
              <button type="button" class="swal2-cancel btn btn-danger btn-raised" style="display: inline-block;">No, cancel!</button>
              <span class="swal2-close" style="display: none;">×</span>
            </div>
          </div>
    </div>
    <!-- MODAL -->
  <!--/ Search API (regular expressions) table -->
</div>