i.ft-user-x {
    font-size: 25px;
}
.modal1 {
    width: 500px;
    height: 210px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -105px;
    margin-left: -250px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 10;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    
}

.modal1.show, .modal-wrapper.show{
    display: block;
    visibility: visible;
    opacity: 2;
    transition: 0.4s;
}
.modal-wrapper.show{
    opacity: 0.6;
    background-color: rgb(0,0,0); /* Fallback color */
    
}
html, body, .modal-wrapper{
    width: 100%;
    height: 100%;
}
.modal-wrapper{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.modal-header {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.modal-footer {
    border: 0;
}
.form-group {
    width: 80%;
    margin-left: 10%;
}
.but1 {
    width: 100px;
}
label.title {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    margin-left: 51px;
}
button.close:focus {
    outline: 0;
}
a.info.p-0 {
    font-size: 20px;
  }
tr.odd {
    text-align:  center;
}
tr.even {
    text-align:  center;
}
tr {
    text-align:  center;
}