<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper" class=" grey lighten-3">
  <!-- Search for small screen -->
  <div class="header-search-wrapper grey hide-on-large-only">
    <i class="mdi-action-search active"></i>
    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Forms Validation</h5>
        <ol class="breadcrumbs">
          <li>
            <a href="index.html">Dashboard</a>
          </li>
          <li>
            <a href="#">Forms</a>
          </li>
          <li class="active">Forms Validation</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->


<!--start container-->
<div class="container">

  <!--
      jQuery Validation Plugin
  -->
  <p class="caption">jQuery Validation Plugin</p>
  <p>
    <a href="http://jqueryvalidation.org/" target="_blank">jQuery Validation</a> This jQuery plugin makes simple clientside form validation easy, whilst still offering plenty of
    customization options.</p>
  <div class="divider"></div>
  <!--jqueryvalidation-->
  <div id="jqueryvalidation" class="section">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col s12 m12 l6">
          <div class="card-panel">
            <h4 class="header2">Validations example</h4>
            <div class="row">
              <form class="formValidate" id="formValidate" method="get" action="">
                <div class="row">
                  <div class="input-field col s12">
                    <label for="uname">Username*</label>
                    <input id="uname" name="uname" type="text" data-error=".errorTxt1">
                    <div class="errorTxt1"></div>
                  </div>
                  <div class="input-field col s12">
                    <label for="cemail">E-Mail *</label>
                    <input id="cemail" type="email" name="cemail" data-error=".errorTxt2">
                    <div class="errorTxt2"></div>
                  </div>
                  <div class="input-field col s12">
                    <label for="password">Password *</label>
                    <input id="password" type="password" name="password" data-error=".errorTxt3">
                    <div class="errorTxt3"></div>
                  </div>
                  <div class="input-field col s12">
                    <label for="cpassword">Confirm Password *</label>
                    <input id="cpassword" type="password" name="cpassword" data-error=".errorTxt4">
                    <div class="errorTxt4"></div>
                  </div>
                  <div class="input-field col s12">
                    <label for="curl">URL *</label>
                    <input id="curl" type="url" name="curl" data-error=".errorTxt5">
                    <div class="errorTxt5"></div>
                  </div>
                  <div class="col s12">
                    <label for="crole">Role *</label>
                    <select class="error browser-default" id="crole" name="crole" data-error=".errorTxt6">
                      <option value="" disabled selected>Choose your profile</option>
                      <option value="1">Manager</option>
                      <option value="2">Developer</option>
                      <option value="3">Business</option>
                    </select>
                    <div class="input-field">
                      <div class="errorTxt6"></div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <textarea id="ccomment" name="ccomment" class="materialize-textarea validate" data-error=".errorTxt7"></textarea>
                    <label for="ccomment">Your comment *</label>
                    <div class="errorTxt7"></div>
                  </div>
                  <div class="col s12">
                    <label for="genter_select">Gender *</label>
                    <p>
                      <input name="cgender" type="radio" id="gender_male" data-error=".errorTxt8" />
                      <label for="gender_male">Male</label>
                    </p>
                    <p>
                      <input name="cgender" type="radio" id="gender_female" value="f" />
                      <label for="gender_female">Female</label>
                    </p>
                    <div class="input-field">
                      <div class="errorTxt8"></div>
                    </div>
                  </div>
                  <div class="col s12">
                    <label for="tnc_select">T&C *</label>
                    <p>
                      <input type="checkbox" class="checkbox" id="cagree" name="cagree" data-error=".errorTxt9" />
                      <label for="cagree">Please agree to our policy</label>
                    </p>
                    <div class="input-field">
                      <div class="errorTxt6"></div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <button class="btn waves-effect waves-light right submit" type="submit" name="action">Submit
                      <i class="mdi-content-send right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- <div class="col s12 m12 l6">
          <p>Simple jQuery Validation script to validate your form inputs.</p>
          <pre class="language-javascript"><code class="language-javascript">
$("#formValidate").validate({
rules: {
    uname: {
        required: true,
        minlength: 5
    },
    cemail: {
        required: true,
        email:true
    },
    password: {
required: true,
minlength: 5
},
cpassword: {
required: true,
minlength: 5,
equalTo: "#password"
},
curl: {
        required: true,
        url:true
    },
    crole:"required",
    ccomment: {
required: true,
minlength: 15
    },
    cgender:"required",
cagree:"required",
},
//For custom messages
messages: {
    uname:{
        required: "Enter a username",
        minlength: "Enter at least 5 characters"
    },
    curl: "Enter your website",
},
errorElement : 'div',
errorPlacement: function(error, element) {
  var placement = $(element).data('error');
  if (placement) {
    $(placement).append(error)
  } else {
    error.insertAfter(element);
  }
}
});
</code></pre>

        </div> -->
      </div>
    </div>


  </div>
  <div class="divider"></div>
  <!--
      Custom Error and Success Messages
  -->
  <p class="caption">Materialize default error and success messages</p>
  <p>Materialize admin theme has built in custom error or success messages, You can add custom validation messages by adding
    either
    <code class=" language-markup">data-error</code> or
    <code class=" language-markup">data-success</code> attributes to your input field labels.</p>

  <div class="divider"></div>
  <div id="default-validation" class="section">
    <div class="row">
      <!--Form validation with placeholder-->
      <div class="col s12 m12 l6">
        <div class="card-panel">
          <h4 class="header2">Form validation with placeholder</h4>
          <p>Add class
            <code class=" language-markup">.left-alert</code> to show error message in left align.</p>
          <!--add .left-alert to show messages left side-->
          <div class="row">
            <form class="col s12 left-alert">
              <div class="row">
                <div class="input-field col s12">
                  <input id="first_input1" type="text" class="validate" placeholder="John Doe">
                  <label for="first_input1" data-error="Please enter first name.">First Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="age_input1" type="number" class="validate" placeholder="25">
                  <label for="age_input1" data-error="Please enter your age.">Age</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email_input1" type="email" class="validate" placeholder="john@domainname.com">
                  <label for="email_input1" class="" data-error="Please enter valid email." data-success="I Like it!">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="url_input1" type="url" class="validate" placeholder="http://geekslabs.com/">
                  <label for="url_input1" class="" data-error="Please enter valid url.">URL</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password1" type="password" class="validate" placeholder="MonKey&420@">
                  <label for="password1">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="message1" class="materialize-textarea validate" length="120" placeholder="Oh WoW! Let me check this one too."></textarea>
                  <label for="message1" class="">Message</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                    <i class="mdi-content-send right"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--Form validation with icons-->
      <div class="col s12 m12 l6">
        <div class="card-panel">
          <h4 class="header2">Form validation with icons</h4>
          <p>Add class
            <code class=" language-markup">.right-alert</code> to show error message in right align.</p>
          <!--add .right-alert to show messages right side-->
          <div class="row">
            <form class="col s12 right-alert">
              <div class="row">
                <div class="input-field col s12">
                  <i class="mdi-action-account-circle prefix"></i>
                  <input id="first_input2" type="text" class="validate">
                  <label for="first_input2" data-error="Please enter first name." data-success="Perfect!">First Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="mdi-action-verified-user prefix"></i>
                  <input id="age_input2" type="number" class="validate">
                  <label for="age_input2" data-error="Please enter your age." data-success="Wow!">Age</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="mdi-communication-email prefix"></i>
                  <input id="email_input2" type="email" class="validate">
                  <label for="email_input2" class="" data-error="Please enter valid email." data-success="I Like it!">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="mdi-content-link prefix"></i>
                  <input id="url_input2" type="url" class="validate">
                  <label for="url_input2" class="" data-error="Please enter valid url." data-success="I know you!">URL</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="mdi-action-lock-outline prefix"></i>
                  <input id="password2" type="password" class="validate">
                  <label for="password2">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="mdi-action-question-answer prefix"></i>
                  <textarea id="message2" class="materialize-textarea validate" length="120"></textarea>
                  <label for="message2" class="">Message</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                    <i class="mdi-content-send right"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <small>
      <em>Note:</em> Materialize default validation work based on HTML5 input types.</small>
  </div>
  <!-- Floating Action Button -->
  <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
    <a class="btn-floating btn-large">
      <i class="mdi-action-stars"></i>
    </a>
    <ul>
      <li>
        <a href="css-helpers.html" class="btn-floating red">
          <i class="large mdi-communication-live-help"></i>
        </a>
      </li>
      <li>
        <a href="app-widget.html" class="btn-floating yellow darken-1">
          <i class="large mdi-device-now-widgets"></i>
        </a>
      </li>
      <li>
        <a href="app-calendar.html" class="btn-floating green">
          <i class="large mdi-editor-insert-invitation"></i>
        </a>
      </li>
      <li>
        <a href="app-email.html" class="btn-floating blue">
          <i class="large mdi-communication-email"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- Floating Action Button -->
</div>
<!--end container-->
