.gallery_img img {
    width: 532px;
    height: 373px;
}
.widget-desc li {
    margin-right: 2px;
}
.widget-desc li:last-child {
    margin-right: 0;
}
.single_product_desc .cart .cart-submit{
    box-sizing: border-box;
    padding: 5px;
}
li.sizes.actives {
    background: #ff084e;
    color: #fff;
}
.single_product_desc {
    background: #9e9e9e3b;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px 0 10px 0;
}
div#headingOne, div#headingThree {
    background: #ccc;
}
.single_product_desc .card-body p {
    font-size: 14px;
    color: #615a5a;
}
.card-body{
    background: none;
}
div#collapseOne, div#collapseThree {
    margin-left: 15px;
}