.card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: white;
}

.box {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #CCCFD5;
  line-height: 40px;
  margin: 0 5px;
  color: #000;
  border-radius: 2px;
}

.btnKho {
  margin-top: 20px;
  margin-left: 15px;
}

form .form-actions{
  border-top: 0;
}
input#file {
  padding: 5px 10px;
  background: #E9EAEC;
}
.upload {
  margin: 0;
}
.row.upload .col-md-2, .row.upload .col-md-10 {
  padding: 0;
}

.row.upload {
  box-sizing: border-box;
  padding: 10px;
}
.px-3 {
  padding: 0 !important;
}
div.progress.hide {
  visibility: hidden;
  opacity:0;
  transition:2s;
}
div.progress.show {
  visibility: visible;
  opacity:1;
  transition:0.5s;
}