  <div class="content-wrapper">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
      <div class="row">
        <div class="col-sm-12">
          <div class="content-header">Khách Hàng</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <!-- <h4 class="card-title" id="bordered-layout-basic-form">Project Info</h4> -->
            </div>
            <div class="card-body">
              <div class="px-3">
                <form class="form form-horizontal form-bordered">
                  <div class="form-body">
                    <h4 class="form-section">
                      <i class="ft-user"></i> Thông Tin</h4>
                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="projectinput1">Họ & Tên</label>
                      <div class="col-md-9">
                        <input type="text" id="projectinput1" class="form-control" placeholder="First Name" name="fname">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="projectinput2">Địa chỉ</label>
                      <div class="col-md-9">
                        <input type="text" id="projectinput2" class="form-control" placeholder="Last Name" name="lname">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="projectinput3">E-mail</label>
                      <div class="col-md-9">
                        <input type="text" id="projectinput3" class="form-control" placeholder="E-mail" name="email">
                      </div>
                    </div>

                    <div class="form-group row last">
                      <label class="col-md-3 label-control" for="projectinput4">Số điện thoại</label>
                      <div class="col-md-9">
                        <input type="text" id="projectinput4" class="form-control" placeholder="Phone" name="phone">
                      </div>
                    </div>
                    
                    </div>
                  <div class="form-actions center">
                    <button type="button" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
                    <button type="button" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Save
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </section>
    <!-- // Basic form layout section end -->
  </div>