<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
  <!-- Search for small screen -->
  <div class="header-search-wrapper grey hide-on-large-only">
    <i class="mdi-action-search active"></i>
    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">eCommerce Products Page</h5>
        <ol class="breadcrumbs">
          <li>
            <a href="index.html">Dashboard</a>
          </li>
          <li>
            <a href="#">Pages</a>
          </li>
          <li class="active">eCommerce Products Page</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->


<!--start container-->
<div class="container">
  <div class="section">
    <!-- statr products list -->
    <div id="products" class="row">
      <div class="product-sizer"></div>
      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img2.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img5.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img7.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img3.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img4.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img5.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img6.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img7.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img8.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img2.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img7.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img4.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
            <a href="#">
              <img src="../assets/images/img6.jpg" alt="product-img">
            </a>
          </div>
          <ul class="card-action-buttons">
            <li>
              <a class="btn-floating waves-effect waves-light green accent-4">
                <i class="mdi-av-repeat"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light red accent-2">
                <i class="mdi-action-favorite"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating waves-effect waves-light light-blue">
                <i class="mdi-action-info activator"></i>
              </a>
            </li>
          </ul>
          <div class="card-content">

            <div class="row">
              <div class="col s8">
                <p class="card-title grey-text text-darken-4">
                  <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                </p>
              </div>
              <div class="col s4 no-padding">
                <a href="">
                <img src="../assets/images/amazon.jpg" alt="amazon" class="responsive-img">
                </a>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

    </div>
    <!--/ end items list -->
  </div>
  <!-- Floating Action Button -->
  <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
    <a class="btn-floating btn-large">
      <i class="mdi-action-stars"></i>
    </a>
    <ul>
      <li>
        <a href="css-helpers.html" class="btn-floating red">
          <i class="large mdi-communication-live-help"></i>
        </a>
      </li>
      <li>
        <a href="app-widget.html" class="btn-floating yellow darken-1">
          <i class="large mdi-device-now-widgets"></i>
        </a>
      </li>
      <li>
        <a href="app-calendar.html" class="btn-floating green">
          <i class="large mdi-editor-insert-invitation"></i>
        </a>
      </li>
      <li>
        <a href="app-email.html" class="btn-floating blue">
          <i class="large mdi-communication-email"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- Floating Action Button -->
</div>
<!--end container-->
