<div class="content-wrapper">
  <!-- Row selection (multiple rows) table -->
  <section id="row-selection">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">KHO HÀNG</h4>
          </div>
          <div class="card-body collapse show">
            <div class="card-block">
              <button id="addRow" class="btn btn-primary mb-2">
                <i class="ft-plus"></i>&nbsp; Thêm kho hàng mới</button>
              <br/>
              <br/>
              <table id="table_spkho" class="table table-striped table-bordered selection-multiple-rows">
                <thead>
                  <tr>
                    <th>No.ID</th>
                    <th>Tên Kho</th>
                    <th>Địa Chỉ</th>
                    <th>Chức năng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let kho of list_spkho">
                    <td>{{kho.id}}</td>
                    <td>{{kho.tenKho}}</td>
                    <td>{{kho.diaChi}}</td>
                    <td>

                      <a class="success p-0" data-original-title="" title="" [routerLink]="['/kho/',kho.id]">
                        <i class="ft-list font-medium-3 mr-2"></i>
                      </a>
                      <a class="success p-0" data-original-title="" title="">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>
                      <!-- <a class="danger p-0" data-original-title="" title="">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Row selection (multiple rows) table -->
  <!--/ Show & hide columns dynamically table -->
  <!-- Search API (regular expressions) table -->
  <!-- <section id="search-api">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Tìm kiếm thông tin sản phẩm trong Kho</h4>
          </div>
          <div class="card-body collapse show">
            <div class="card-block">
              <button id="Searchproduct" class="btn btn-primary mb-2">
                <i class="ft-plus"></i>&nbsp; Search Product</button>
              <br/>
              <br/>
              <table style="margin: 0 auto 2em auto;" class="table table-striped table-bordered search-api">
                <thead>
                  <tr>
                    <th>Target</th>
                    <th>Search text</th>
                    <th>Treat as regex</th>
                    <th>Use smart search</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="filter_global">
                    <td>Global search</td>
                    <td class="text-center">
                      <input type="text" class="global_filter_search" id="global_filter_search">
                    </td>
                    <td class="text-center">
                      <input type="checkbox" class="global_filter_search" id="global_regex">
                    </td>
                    <td class="text-center">
                      <input type="checkbox" class="global_filter_search" id="global_smart" checked="checked">
                    </td>
                  </tr>
                  <tr id="filter_col1" data-column="0">
                    <td>Column - Name</td>
                    <td class="text-center">
                      <input type="text" class="column_filter_search" id="col0_filter">
                    </td>
                    <td class="text-center">
                      <input type="checkbox" class="column_filter_search" id="col0_regex">
                    </td>
                    <td class="text-center">
                      <input type="checkbox" class="column_filter_search" id="col0_smart" checked="checked">
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="display table table-striped table-bordered search-api">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                  </tr>
                  <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                  </tr>
                  <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                  </tr>
                  <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012/03/29</td>
                    <td>$433,060</td>
                  </tr>
                  <tr>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008/11/28</td>
                    <td>$162,700</td>
                  </tr>
                  <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012/12/02</td>
                    <td>$372,000</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--/ Search API (regular expressions) table -->

</div>